div.pple-container,div.people-container{
	width: 100% !important;
}
div.col-3s{
	width: 25%;
}
div.col-9s{
	width: 75%;
	padding: 0 1rem 1rem;
}
img.search-img{
	border-radius: 6px;
	padding: 2px;
	border: 4px solid #7289da;
}
p.search-name{
	text-align: left;
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 0.5rem;
	margin-top: 0;
}
div.search-following{
	color: #fff;
	background-color: #45505f;
	border-radius: 180px;
	font-size: 20px;
	padding: 0.3rem;
	font-weight: 700;
	clear: both;
}
div.search-follow{
	color: #45505f;
	background-color: #fff;
	border-radius: 180px;
	font-size: 20px;
	padding: 0.3rem;
	font-weight: 700;
	border: 1px solid #9fabba;
	clear: both;	
}
div.follow-cancel{
	color: #45505f;
	font-weight: 700;
	font-size: 20px;
	width: 48%;
	margin-right: 1%;
	margin-left: 1%;
	display: inline-block;
	border: 1px solid #9fabba;
	padding: 0.3rem
}
div.search-info{
	width: 100% !important;
	margin-bottom: 0.5rem;
	clear: both;
}
div.search-info span.tt-post{
	width: 31% !important;
	font-weight: 600;
	font-size: 20px;
	margin-right: 2%;
	text-align: left;
	float: left;
	/*border-right: 1px solid #9fabba*/
	
}
div.search-info span.shared-count,div.search-info span.shared-item{
	margin-right: 0.5rem;
	font-weight: 600;
	font-size: 17px;
}
div.search-info span.shared-more{
	cursor: pointer;
	font-size: 15px;
	color: #45505f;
	font-weight: 600;
}
div.search-info span.shared-more:hover{
	
}
div.search-info span.shared-items{
	color: #7289da;
	text-decoration: underline;
	margin-right: 0.3rem;
}
div.search-info .shared-thick{
	font-weight: 700 !important;
}
div.search-info span.follower-count{
	width: 31% !important;
	font-weight: 600;
	font-size: 20px;
	margin-right: 3%;
	text-align: left;
	float: left;
	clear: right !important;
}
div.display-items{
	display: block !important;
	font-size: 17px;
	width: 100%;
	animation-name: item-block;
	animation-duration: 0.2s;
	margin-top: 0.2rem
}
div.close-items{
	display: none !important;
	font-size: 17px;
	width: 100%;
	animation-name: item-none;
	animation-duration: 1s;
}
@keyframes item-block{
	from{margin-top: -1rem}
	to{margin-top: 0.2rem}
}
@keyframes item-none{
	0{margin-top: 0.2rem;}
	10%{margin-top: 0.1rem;}
	20%{margin-top: 0;}
	30%{margin-top: -0.2rem;}
	40%{margin-top: -0.4rem;}
	50%{margin-top: -0.6rem;}
	60%{margin-top: -0.8rem;}
	70%{margin-top: -0.9rem;}
	80%{margin-top: -1rem;}
	100%{display: none;}
}
